nav {
    background-color: #a34cf9;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #a34cf9;
  }
  
  @media (max-width: 600px) {
    nav ul {
      display: none;
    }
  
    nav li {
      float: none;
    }
  
    nav li a {
      display: block;
      text-align: left;
    }
  }